/* Reset and start */
* {
    font-size:1em;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    outline:0px;
    margin:0px;
    padding:0px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html {
    background:#e3e3e3;
    color:#444;
    font-size:105%;
    overflow-y:scroll;
    -ms-overflow-style:scrollbar;
}

/* Font styling */
h1, h2, h3 {
    margin-bottom:10px;
}

h1 {
    font-size:1.6em;
}

h2 {
    font-size:1.4em;
}

h3 {
    font-size:1.2em;
}

strong {
    font-weight:500;
}

img {
    border:0px;
    display:block;
}

a {
    color:#006699;
    text-decoration:none;
}

a:hover, a:focus, .tabs .active a, #header a {
    color:#000;
    background-color:transparent;
    -moz-transition:color 0.2s linear;
    -webkit-transition:color 0.2s linear;
    transition:color 0.2s linear;
}

p, ul {
    margin-bottom:10px;
}

p:last-child, ul:last-child {
    margin-bottom:0px;
}

ul {
    list-style:none;
    padding-left:0.5em;
}

.list {
    border-left:3px solid #ddd;
}

.list li {
    line-height:175%;
}

.clear {
    clear:both;
}

.divider {
    display:inline-block;
    width:10px;
}

.fa {
    margin-right:10px;
    -webkit-font-smoothing:antialiased;
}

/* Floating and align */
.float-left {
    display:block;
    float:left;
    margin-right:10px;
}

.float-right {
    display:block;
    float:right;
    margin-left:10px;
}

.left {
    text-align:left;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

/* Basic */
#all {
    width:90%;
    margin:-10px auto;
}

#header {
    padding:10px;
    background:#fff;
}

#header h1 {
    margin:0px;
    font-size:1.7em;
}

#header h1 a:focus {
    border-bottom:1px dotted #444;
}

#content {
    padding:10px;
    background:#fff;
    border-radius:5px;
    margin-top:10px;
}

.footer {
    margin-top:10px;
    padding-bottom:10px;
    text-align:center;
    font-size:0.9em;
    color:#aaa;
}

/* Menu */
.menu {
    background:#006699;
    width:100%;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    overflow:hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

.menu ul {
    display:table;
    float:left;
    margin:0;
    padding:0;

}

.menu ul.right {
    float:right;
}

.menu li {
    display:table-cell;
    text-align:center;
}

.menu a {
    padding:10px;
    display:block;
    color:#fff;
}

.menu a:hover, .menu .active a {
    background:#005580;
    -moz-transition:background 0.2s linear;
    -webkit-transition:background 0.2s linear;
    transition:background 0.2s linear;
}

.menu a:focus {
    background:#004466;
}

/* Tabs */
.tabs {
    margin-bottom:-20px;
    width:100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

.tabs ul {
    display:table;
    margin:0;
    border-collapse:separate;
    border-spacing:10px;
}

.tabs li {
    display:table-cell;
    background:white;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding:10px;
}

.tabs li a {
    font-size:0.90em;
    display:block;
}

/* Combined header */
.page-header {
    margin-bottom:10px;
    display:table;
    width:100%;
}

.page-header h2 {
    display:table-cell;
    vertical-align:middle;
    width:100%;
}

.page-header .button {
    display:table-cell;
    white-space:nowrap;
}

.page-header .navigation {
    border-left:10px solid #fff;
}

.navigation label, .navigation .simpleselect {
    width:50%;
}

/* Uploadformulier */
form {
    width:100%;
}

.input-container {
    display:table;
    border-collapse:separate;
    width:100%;
    margin-bottom:10px;
}

.input-container:last-child {
    margin-bottom:0px;
}

label {
    display:table-cell;
    width:35%;
    padding:0px 10px;
    background:#ddd;
    white-space:nowrap;
    vertical-align:middle;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea, .file, .checkbox {
    display:table-cell;
    margin:0px;
    width:100%;
    -moz-appearance:none;
    -webkit-appearance:none;
    border-radius:0px;
    padding:10px;
    border:1px solid #ddd;
    background:#fff;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color:#444;
}

textarea {
    height:auto;
    resize:none;
    -webkit-overflow-scrolling:touch;
    -moz-transition:height 0.2s linear;
    -webkit-transition:height 0.2s linear;
    transition:height 0.2s linear;
}

input[disabled], textarea[disabled], select[disabled='disabled'] {
    -webkit-text-fill-color:#444;
    -webkit-opacity:1;
}

input:focus, textarea:focus {
    -webkit-box-shadow:inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow:inset 0 0 1px 1px #e3e3e3;
    box-shadow:inset 0 0 1px 1px #e3e3e3;
    -moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

input[type="button"], input[type="submit"], button, .button {
    display:inline-block;
    padding:11px;
    width:auto;
    background:#006699;
    border-radius:5px;
    border:0px;
    color:#fff;
    -moz-appearance:none;
    -webkit-appearance:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, .button:hover, .button:focus, button:hover, button:focus {
    background:#005580;
    color:#fff;
    cursor:pointer;
    -moz-transition:background 0.2s linear;
    -webkit-transition:background 0.2s linear;
    transition:background 0.2s linear;
}

.bigbutton {
    font-size:150%;
}

select:not(.ui-datepicker-month):not(.ui-datepicker-year) {
    border-radius:0px;
    padding:10px;
    border:1px solid #ddd;
    background:#fff;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color:#444;
}

.optional {
    color:#888;
    font-size:0.9em;
}

.search-form {
    margin-bottom:10px;
}

#key {
    border-radius:5px;
}

/* Checkbox */
.checkbox label {
    background:none;
    border-radius:0px;
    padding:0px;
    white-space:pre-wrap;
}

input[type="checkbox"] {
    display:none;
}

input[type=checkbox] + label:before {
    font-family:FontAwesome;
    display:inline-block;
    letter-spacing:0px;
    -webkit-font-smoothing:antialiased;
}

input[type=checkbox] + label:before {
    content:"\f096";
    letter-spacing:10px;
}

input[type=checkbox]:checked + label:before {
    content:"\f046";
    letter-spacing:8px;
}

input[type="checkbox"] + label:hover {
    cursor:pointer;
}

/* File input */
input[type="file"] {
    font-size:0.8em;
}

input[type="file"]::-webkit-file-upload-button {
    padding:5px;
    cursor:pointer;
    background:#ddd;
    border:0px;
    border-radius:5px;
    -webkit-appearance:none;
}

/* Tables */
table {
    width:100%;
    border-collapse:separate;
    border-radius:5px;
    border-spacing:1px;
    text-align:left;
    background:#ddd;
    table-layout:fixed;
}

thead th {
    font-weight:400;
    padding:10px;
    overflow:hidden;
    word-wrap:break-word;
    font-size:100%;
    height:auto;
}

td {
    background:#fff;
    overflow:hidden;
    padding:10px;
    overflow:hidden;
    word-wrap:break-word;
}

th {
    font-size:0%;
    height:5px;
}

thead:first-child tr:first-child th:first-child {
    border-radius:5px 0px 0px 0px;
}

thead:first-child tr:first-child th:last-child {
    border-radius:0px 5px 0px 0px;
}

tbody tr:last-child td:first-child {
    border-radius:0px 0px 0px 5px;
}

tbody tr:last-child td:last-child {
    border-radius:0px 0px 5px 0px;
}

.image img {
    width:100%;
    display:block;
    border-radius:5px;
}

.id {
    width:3em;
}

.img-container {
    width:6em;
}

td .button {
    margin-right:10px;
    padding:7.5px;
}

td .button .fa {
    margin-right:7.5px;
}

td .button:last-child {
    margin-right:0px;
}

/* (Coloured) boxes */
.box {
    border-radius:5px;
    padding:11px;
    margin-bottom:10px;
    overflow:hidden;
}

.grey {
    background:#EDEDED;
}

.green {
    background:#339966;
    color:#fff;
}

a.green:hover, a.green:focus, button.green:hover, button.green:focus {
    background:#2D8659;
}

.red {
    background:#990000;
    color:#fff;
}

a.red:hover, a.red:focus, button.red:hover, button.red:focus {
    background:#800000
}

.box li {
    list-style-type:square;
    margin-left:10px;
}

/* Single */
.single {
    display:table;
    table-layout:fixed;
    width:100%;
}

.single-box {
    display:table-cell;
    vertical-align:top;
    border-right:10px solid #fff;
}

.single-box:last-child {
    border-right:0px;
}

.single .image {
    width:12.5%;
}

.single-box img {
    width:100%;
    display:block;
    border-radius:5px;
}

.single-box .list span {
    width:35%;
    display:inline-block;
    font-weight:500;
}

/* Lightbox */
#imagelightbox {
    position:fixed;
    z-index:9999;
    -ms-touch-action:none;
    touch-action:none;
    background:#fff;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}

#imagelightbox-loading {
    color:#fff;
    position:fixed;
    z-index:10003;
    -ms-touch-action:none;
    touch-action:none;
    border-radius:5px;
    top:50%;
    left:50%;
}

#imagelightbox-overlay {
    background-color:#fff;
    background-color:rgba(0,0,0,0.75);
    position:fixed;
    z-index:9998;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#imagelightbox-close {
    position:fixed;
    z-index:10002;
    top:10px;
    right:10px;
}

#imagelightbox-loading .fa, #imagelightbox-close .fa {
    margin-right:0px;
}

/* Firefox fixes */
input::-moz-focus-inner, button::-moz-focus-inner {
    border:0px;
}

/* Placeholders */
::-webkit-input-placeholder {
    color:#aaa;
}

:-moz-placeholder {
    color:#aaa;
    opacity:1;
}

::-moz-placeholder {
    color:#aaa;
    opacity:1;
}

:-ms-input-placeholder {
    color:#aaa;
}
